body,
html {
    margin: 0;
    padding: 0;
}

.head {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 80%;
    justify-content: center;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    grid-column: 1 / span 3;
    justify-self: center;
    align-self: center;
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid black;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.field {
    display: grid;
    gap: 1px;
}

.cell {
    border: 1px solid black;
    border-radius: 2px;
}

.human {
    background-image: url("/Human.png");
    background-size: cover;
}

.zombie {
    background-image: url("/Zombie.png");
    background-size: cover;
}

.selected {
    background-image: url("/Radiation_warning_symbol.png");
    background-size: cover;
}
